:root {
  --primary-font: Roboto, sans-serif;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --white: #ffffff;
  --ocean: #404bbf;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
}

/* Main styles */
body {
  font-family: var(--primary-font);
  color: #434455;
  background-color: var(--white);
}

h1 {
  font-size: 56px;
  line-height: 1, 07;
  letter-spacing: 1.12em;
  font-weight: 700;
  color: var(--navy-blue);
}
h2 {
  font-size: 36px;
  letter-spacing: 0.72em;
  font-weight: 700;
  color: var(--navy-blue);
}

h3 {
  font-size: 20px;
  letter-spacing: 0.4em;
  font-weight: 500;
  color: var(--navy-blue);
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32em;
  color: var(--slate);
}

footer {
  background-color: var(--navy-blue);
}

.p-footer {
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32em;
}

/* INDEX FILE */

/* Header */

.logo {
  color: var(--iris);
  font-family: "Raleway", sanf-serif;
  font-size: 18;
  font-weight: 800;
  letter-spacing: 0.54em;
  line-height: 1.16;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
}

header span {
  color: var(--navy-blue);
  font-family: "Raleway", sanf-serif;
  font-size: 18;
  font-weight: 800;
  letter-spacing: 0.54em;
  line-height: 1.16;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
}

footer span {
  color: var(--cloud);
  font-family: "Raleway", sanf-serif;
  font-size: 18;
  font-weight: 800;
  letter-spacing: 0.54em;
  line-height: 1.16;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
}
.navigation .nav-link {
  color: var(--navy-blue);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32em;
  text-decoration: none;
}
.navigation .nav-link:active {
  color: var(--ocean);
}

.adress-info {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0, 125em;
  text-decoration: none;
  font-style: normal;
}

.adress-info:hover,
.adress-info:focus {
  color: var(--ocean);
}

/* Section 1 */

.first-section {
  background-color: var(--navy-blue);
}
.first-section .index-title {
  color: var(--white);
}
.button {
  background-color: var(--iris);
  color: var(--white);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64em;
}
.button {
  cursor: pointer;
}
.button:hover {
  background-color: var(--ocean);
}

/* PORTFOLIO FILE */
.port-buttons {
  cursor: pointer;
}
.port-buttons {
  background-color: var(--cloud);
  color: var(--iris);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64em;
}

.port-buttons:active {
  background-color: var(--ocean);
  color: var(--white);
}
